


<div class="w-72 h-96 border border-green p-2">
  <img class="w-72 h-40" [src]="card.img" alt="Button Image"/>
<!--  <p *ngIf="card.discount">{{card.discount}}</p>-->
  <div class="flex flex-col border border-green">
    <div class=" border border-green"><p>{{card.price}}</p></div>
    <div class="">
        <p>{{card.name}}</p>
        <p *ngIf="card.country">{{card.country}}</p>
    </div>

    <button  class="w-full p-2 gap-2 border border-green rounded text-green text-center">В корзину</button>
  </div>
</div>


<!--<div class="max-w-sm rounded overflow-hidden shadow-lg">-->
<!--<img class="w-full" [src]="card.img" alt="Button Image">-->
<!--<div class="px-6 py-4">-->
<!--<div class="font-bold text-xl mb-2">{{card.name}}</div>-->
<!--<p class="text-gray-700 text-base mb-2">Описание товара</p>-->
<!--<p class="text-gray-700 text-base mb-2">{{card.price}}</p>-->
<!--<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Добавить в корзину</button>-->
<!--</div>-->
<!--</div>-->
