<div class="flex justify-between py-5 items-center px-28">
    <a routerLink="/">
        <img src="assets/navbar/logo.png" />
    </a>

    <div class="flex items-center gap-4">
        <div class="flex items-center bg-green rounded-md p-2">
            <img src="assets/navbar/menu.png" />
            <div class="text-white mx-3">Каталог</div>
        </div>

        <form class="rounded-md border border-green flex items-center p-2" #myForm="ngForm"
            (ngSubmit)="submitForm(myForm)">
            <input class="mx-4 focus:outline-none" type="text" name="textInput" ngModel placeholder="Найти товар"
                required />
            <button type="submit">
                <img src="assets/navbar/search.png" />
            </button>
        </form>
    </div>
    <div class="flex gap-6 items-center">
        <app-button [imageSrc]="'assets/navbar/heart.png'" [buttonText]="'Избранное'"
            [routePath]="'/discounts'"></app-button>
        <app-button [imageSrc]="'assets/navbar/orders.png'" [buttonText]="'Заказы'"
            [routePath]="'/destination'"></app-button>
        <app-button [imageSrc]="'assets/navbar/shopp.png'" [buttonText]="'Корзина'"
            [routePath]="'/basket'"></app-button>
    </div>
</div>
