<div class="ml-auto mr-auto mb-10" style="width: 1208px">
  <h2 class="font-bold text-6xl mt-10 mb-10">Каталог</h2>
  <div class="flex flex-wrap gap-10 items-center">
    <app-category [imageSrc]="'assets/categories/milk_eggs.png'" [categoryText]="'assets/categories/content_milk.png'"
      [routePath]="'Молоко, сыр, яйцо'" [categoryWidth]="584"></app-category>
    <app-category [imageSrc]="'assets/categories/bread.png'" [categoryText]="'assets/categories/content_bread.png'"
      [routePath]="'Хлеб'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/frozen_products.png'"
      [categoryText]="'assets/categories/content_frozen.png'" [routePath]="'Замороженные продукты'"
      [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/drinks.png'" [categoryText]="'assets/categories/content_drinks.png'"
      [routePath]="'Напитки'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/healthy_food.png'"
      [categoryText]="'assets/categories/content_healthy.png'" [routePath]="'Здоровое питание'"
      [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/vegetables.png'"
      [categoryText]="'assets/categories/content_vegetables.png'" [routePath]="'Фрукты и офощи'"
      [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/tea.png'" [categoryText]="'assets/categories/content_tea.png'"
      [routePath]="'Чай, кофе'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/sweet.png'" [categoryText]="'assets/categories/content_sweet.png'"
      [routePath]="'Кондитерские изделия'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/non_food.png'"
      [categoryText]="'assets/categories/content_non_food.png'" [routePath]="'Непродовольственные товары'"
      [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/zoo.png'" [categoryText]="'assets/categories/content_zoo.png'"
      [routePath]="'Зоотовары'" [categoryWidth]="584"></app-category>
    <app-category [imageSrc]="'assets/categories/baby.png'" [categoryText]="'assets/categories/content_baby.png'"
      [routePath]="'Детское питание'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/meat.png'" [categoryText]="'assets/categories/content_meat.png'"
      [routePath]="'Мясо, птица, колбаса'" [categoryWidth]="584"></app-category>
    <app-category [imageSrc]="'assets/categories/groceries.png'"
      [categoryText]="'assets/categories/content_groceries.png'" [routePath]="'Бакалея'"
      [categoryWidth]="272"></app-category>
  </div>
</div>