<div class="ml-auto mr-auto mb-10" style="width: 1208px">
  <h2 class="font-bold text-6xl mt-10 mb-10">Каталог</h2>
  <div class="flex flex-wrap gap-10 items-center">
    <app-category [imageSrc]="'assets/categories/milk_eggs.png'" [categoryText]="'assets/categories/content_milk.png'"
                  [routePath]="'#'" [categoryWidth]="584"></app-category>
    <app-category [imageSrc]="'assets/categories/bread.png'" [categoryText]="'assets/categories/content_bread.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/frozen_products.png'" [categoryText]="'assets/categories/content_frozen.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/drinks.png'" [categoryText]="'assets/categories/content_drinks.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/healthy_food.png'" [categoryText]="'assets/categories/content_healthy.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/vegetables.png'" [categoryText]="'assets/categories/content_vegetables.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/tea.png'" [categoryText]="'assets/categories/content_tea.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/sweet.png'" [categoryText]="'assets/categories/content_sweet.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/non_food.png'" [categoryText]="'assets/categories/content_non_food.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/zoo.png'" [categoryText]="'assets/categories/content_zoo.png'"
                  [routePath]="'#'" [categoryWidth]="584"></app-category>
    <app-category [imageSrc]="'assets/categories/baby.png'" [categoryText]="'assets/categories/content_baby.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
    <app-category [imageSrc]="'assets/categories/meat.png'" [categoryText]="'assets/categories/content_meat.png'"
                  [routePath]="'#'" [categoryWidth]="584"></app-category>
    <app-category [imageSrc]="'assets/categories/groceries.png'" [categoryText]="'assets/categories/content_groceries.png'"
                  [routePath]="'#'" [categoryWidth]="272"></app-category>
  </div>
</div>

