<div class="ml-24 mr-24">
  <h2 class="font-bold text-6xl mt-10 mb-10">Каталог</h2>
  <div class="flex gap-10 items-center">
    <app-category [imageSrc]="'assets/categories/bread.png'" [categoryText]="'assets/categories/content_bread.png'"
                  [routePath]="'#'"></app-category>
    <app-category [imageSrc]="'assets/categories/frozen_products.png'" [categoryText]="'assets/categories/content_frozen.png'"
                  [routePath]="'#'"></app-category>
    <app-category [imageSrc]="'assets/categories/drinks.png'" [categoryText]="'assets/categories/content_drinks.png'"
                  [routePath]="'#'"></app-category>
    <app-category [imageSrc]="'assets/categories/healthy_food.png'" [categoryText]="'assets/categories/content_healthy.png'"
                  [routePath]="'#'"></app-category>
    <app-category [imageSrc]="'assets/categories/vegetables.png'" [categoryText]="'assets/categories/content_vegetables.png'"
                  [routePath]="'#'"></app-category>
  </div>
</div>

